---
// Component Imports
import BaseLayout from '/src/layouts/BaseLayout.astro'
import BlogPostPreview from '/src/components/BlogPostPreview.astro'
import Subscribe from '/src/components/Subscribe.astro'
import SanityBlockContent from '/src/components/SanityBlockContent.jsx'
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

import { client } from '/src/lib/sanityClient.js'
import { allEvents } from '/src/lib/api.js'

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'UroSystem';
let description = `We aim to give guidance for individuals who think they may have IC, as well as tips and tricks for those who have already received a diagnosis and are looking for ways to alleviate symptoms. Our company, Urosystem Ltd. is focused on spreading awareness of IC/BPS and encourages you to share our content with anyone who is affected by this disease. 
<br>
<br>
Meet us on the next event!`
let permalink = 'https://www.urosystem.com/blog/event'
//let mainImgUrl = '/blog/assets/+.svg'

const allEventData = await client.fetch(allEvents)
const d = new Date();
const futureEvents = new Array();
const pastEvents = allEventData?.filter(event => {
  const date = new Date(event.date2 || event.date1)
  if (d.getTime() < date.getTime()) {
    futureEvents.push(event)
    return false
  }
  //console.log(date.getTime())
  return true
})
//console.log(pastEvents)
let mainImgUrl = '/blog/assets/+.svg'
//console.log(pastEvents.length)
//console.log({allEventData})

//console.log(getSanityImageUrl(allEventData[1].images[0]).url())
---
<BaseLayout title={`${title} – Events`} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
<!--<main>
</main>-->

<header style={`background-image: url(${mainImgUrl})`}>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content flex-wrap text-neutral-content">
    {futureEvents?.map(event => (
    <article class="max-w-lg">
      <aside>
        <time><span class="badge badge-md badge-accent">Upcoming</span> {formatBlogPostDate(event.date1)}{event.date2 ? ' – ' + formatBlogPostDate(event.date2) : ''}</time>
        <h1 class="">{event.title}</h1>
        <SanityBlockContent blocks={event.body} />
      </aside>
      <!--{event.images?.length && event.images.map(img => <img loading="lazy" src={getSanityImageUrl(img).width(720).url()} class={img.portray ? 'portray' : 'landscape'}> || <img class="imgplaceholder" src="/blog/assets/icon-5359554_640_optim.png"/>)}-->
    </article>
    ))}
  <div class="text-center hero-content text-neutral-content w-full">
  <div class="max-w-lg">
    <Subscribe/>
  </div>
  </div>
  </div>
</header>

<main id="events">
  {pastEvents?.map(event => (
  <article>
    <aside>
      <time>{formatBlogPostDate(event.date1)}{event.date2 ? ' – ' + formatBlogPostDate(event.date2) : ''}</time>
      <h1 class="">{event.title}</h1>
      <SanityBlockContent blocks={event.body} />
    </aside>
    <div class="carousel rounded-lg" id={event.slug.current}>
      <button onclick="carleft(this.parentNode)">◀︎</button>
      {event.images?.length && event.images.map(img => 
      <div class="carousel-item" id=`${img._key}`>
        <img loading="lazy" src={getSanityImageUrl(img).width(720).url()} class={img.portray ? 'portray' : 'landscape'}>
      </div>)}      
      <button onclick="carright(this.parentNode)">▶︎</button>
    </div>
  </article>
  ))}
</main>
</BaseLayout>

<script>
  const carleft = (car) =>{
    car.scrollLeft -= 380
  }
  const carright = (car) => {
    car.scrollLeft += 380
  }
</script>

<style>
  header {
    @apply hero min-h-screen;
    background-size: 568px;
  }
  .hero-overlay {
    backdrop-filter: blur(2px);
  }
  .hero-content {
    padding-top: 3rem;
  }
  main {
    @apply container max-w-6xl mx-auto px-4;
  }
  /*section {
    min-height: 50vh;
    height: 50vh;
  }*/

  article {
    @apply mt-16 shadow-xl image-full;
    background-color: var(--dark-blue);
    /*min-height: 25vh;*/
    display: flex;
    flex-wrap: wrap;
    gap: 4ch;
    padding: 3ch;
    align-items: end;
  }
  aside {
    flex: 0 1 65ch;
  }
  /*#events article {
    grid-template-columns: repeat(auto-fill,minmax(24ch,1fr));
  }
  .carousel:before {
    @apply btn btn-circle btn-xs btn-primary;
    position: sticky;
    left: 0;
    content: '❮';
  }
  */

  .carousel {
    flex: 1 0 32ch;
    position: relative;
    gap: 2ch;
    width: 100%;
    grid-column-end: auto;
  }
  .carousel-item {
    /*width: min(32ch,100%);*/
    width: min(32ch,100%);
  }
  .carousel button {
    @apply btn btn-circle btn-sm;
    position: sticky;
    top: 50%;
    width: 2rem;
    color: #3da4c9;
  }
  .carousel button:first-of-type {
    left: .25em;
  }
  .carousel button:last-of-type {
    right: .25em;
  }


  /*max-w-xs rounded-lg*/
  img, .imgplaceholder {
    @apply shadow-2xl;
    object-fit: contain;
  }

  /*.portray {
    border: 2px solid;
    grid-row-end: span 2;
  }*/
  h1 {
    @apply text-2xl font-bold pb-4;
  }
  time {
    @apply h-8;
    display: block;
    font-size: smaller;
    font-variant: small-caps;
  }
</style>