---
import BaseLayout from '/src/layouts/BaseLayout.astro'
import BlogPostPreview from '/src/components/BlogPostPreview.astro'
import Subscribe from '/src/components/Subscribe.astro'

import { client } from '/src/lib/sanityClient.js'
import { allPosts } from '/src/lib/api.js'

let title = 'The Bladder Blog'
let description = `Our company, Urosystem Ltd. is focused on spreading awareness of IC/BPS and encourages you to share our content with anyone who is affected by this disease. We hope you enjoy the read and find any helpful tips throughout this page! <br><br> Yours truly, UroSystem Team.`
let keywords = [
  'IC/BPS',
  'IC treatment',
  'IC diet',
  'IC symptoms',
  'bladder pain',
  'pelvic pain'
]
let permalink = 'https://www.urosystem.com/blog'
let mainImgUrl = '/blog/assets/+.svg'

const allPostData = await client.fetch(allPosts)

---
<BaseLayout title={title} description={description} keywords={keywords} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
<header style={`background-image: url(${mainImgUrl})`}>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content flex-col">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{title}</h1>

      <p class="mb-5 text-xl">{description}</p>
    </div>
    <Subscribe/>
  </div>
</header>
<main id="content">
  <section>
    {allPostData.map((post) => post.publishedAt && <BlogPostPreview post={post} />)}
  </section>
</main>
</BaseLayout>

<style>
  header {
    @apply hero min-h-screen;
    /*margin-top: -4rem;*/
    /*padding-top: 4rem;*/
    background-size: 568px;
  }
  h1 {
    padding-top: 6rem;
  }
  main {
    @apply container max-w-6xl mx-auto;
  }
  fieldset {
    @apply flex flex-wrap gap-4;
  }
  /*section {
    min-height: 50vh;
    height: 50vh;
  }*/

</style>