---
import BaseLayout from '/src/layouts/BaseLayout.astro'
import BlogPostPreview from '/src/components/BlogPostPreview.astro'
import Subscribe from '/src/components/SubscribeActivecamp.astro'

import { client } from '/src/lib/sanityClient.js'
import { allPosts } from '/src/lib/api.js'

let title = 'The Bladder Blog'
let description = `At Urosystem, our mission is to provide practice-changing medical solutions for urinary bladder diseases to patients and health practitioners by facilitating timely diagnosis, effective treatment, and life-long follow-up. We are dedicated to raising awareness about IC/BPS (Interstitial Cystitis/Bladder Pain Syndrome) and invite you to share our content with those impacted by this condition. We trust that you will find valuable insights and practical tips as you explore this page. Enjoy your reading and may you discover beneficial information along the way!`
let keywords = [
  'IC/BPS',
  'IC treatment',
  'IC diet',
  'IC symptoms',
  'bladder pain',
  'pelvic pain'
]
let permalink = 'https://www.urosystem.com/blog'
let mainImgUrl = '/blog/assets/+.svg'

const allBlogPosts = await client.fetch(allPosts)

/*export async function getStaticPaths({rss}) {
  const allBlogPosts = await client.fetch(allPosts);

  rss({
    title: 'Urosystem\'s Bladder Blog',
    description: 'Our company, Urosystem Ltd. is focused on spreading awareness of IC/BPS and encourages you to share our content with anyone who is affected by this disease. We hope you enjoy the read and find any helpful tips throughout this page! <br><br> Yours truly, UroSystem Team.',
    customData: `<language>en-us</language>`,
    items: allBlogPosts.filter(i => !!i.publishedAt).map(item => ({
      title: item.title,
      customData: `<img>${getSanityImageUrl(item.mainImage).width(400).url()}</img>`,
      image: getSanityImageUrl(item.mainImage).width(400).url(),
      description: item.excerpt,
      link: `/blog/${item.slug.current}`,
      pubDate: item.publishedAt || null,
    })),
    dest: '/blog/rss.xml',
  });
  return allBlogPosts.map(post => ({params: { slug: post.slug.current }, props: {post}}));
}*/

---
<BaseLayout title={title} description={description} keywords={keywords} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
<header style={`background-image: url(${mainImgUrl})`}>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content flex-col pt-16 pb-32">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{title}</h1>

      <p class="mb-5 text-xl">{description}</p>
    </div>
    <Subscribe/>
  </div>
</header>
<main id="content">
  <!--<section>-->
    {allBlogPosts.map((post) => post.publishedAt && <BlogPostPreview post={post} />)}
  <!--</section>-->
</main>
</BaseLayout>

<style>
  header {
    @apply hero min-h-screen;
    /*margin-top: -4rem;*/
    /*padding-top: 4rem;*/
    background-size: 568px;
  }
  .hero-overlay {
    backdrop-filter: blur(2px);
  }
  h1 {
    padding-top: 6rem;
  }
  main {
    @apply container max-w-6xl mx-auto px-4;
  }
  fieldset {
    @apply flex flex-wrap gap-4;
  }
  /*section {
    min-height: 50vh;
    height: 50vh;
  }*/

</style>