---
import ArticleSchema from "./ArticleSchema.jsx";
import site from "../data/site.js";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  publishDate: string;
  ogImageUrl: string;
  canonicalURL?: URL;
  articleSchema?: boolean;
}
const { title, description, permalink, publishDate, ogImageUrl, canonicalURL, articleSchema } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="manifest" href="/assets/site.webmanifest" crossorigin='use-credentials'>
<link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#52b2d6">
<link rel="shortcut icon" href="/assets/favicon.ico">
<meta name="msapplication-TileColor" content="#0b3b54">
<meta name="msapplication-config" content="assets/browserconfig.xml">
<meta name="theme-color" content="#0b3b54">

<!--<link rel="stylesheet" href="/style/global.css"/>-->
<style global>
  @import "../style/global.css";
</style>
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title || site.title} />
<meta name="description" content={description || site.description} />
<!-- Sitemap -->
<link rel="sitemap" href="/sitemap.xml">
<!-- RSS -->
<link rel="alternate" type="application/rss+xml" title={`${site.name} Blog`} href={`${site.url}/feed/blog.xml`}/>
<!-- Canonical -->
<link rel="canonical" href={canonicalURL}>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL || site.url} />
<meta property="og:title" content={title || site.title} />
<meta property="og:description" content={description || site.description} />
<meta property="og:image" content={ogImageUrl ? `${ogImageUrl}` : `${site.url}/assets/img/social.jpg`} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL || site.url} />
<meta property="twitter:title" content={title || site.title} />
<meta property="twitter:description" content={description || site.description} />
<meta property="twitter:image" content={ogImageUrl ? ogImageUrl : `${site.url}/assets/img/social.jpg`} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
rel="preload"
href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
as="style"
onload="this.onload=null;this.rel='stylesheet'">
<noscript>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
    rel="stylesheet"
    type="text/css">
</noscript>

{articleSchema && (<ArticleSchema title={title} description={description} permalink={permalink} publishDate={publishDate} ogImageUrl={ogImageUrl} />)}

