---
import SanityBlockContent from './SanityBlockContent.jsx'
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
const mainImgUrl = getSanityImageUrl(post.mainImage).url()
// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
const postUrl = Astro.request.canonicalURL.href

---

{!!post.imageHero && <header style={`background-image: url('${mainImgUrl}')`}>
  <div class="hero-overlay"></div>
  <div class="text-center hero-content text-neutral-content">
    <div class="max-w-md">
      <h1>{post.title}</h1>
      <!--
      {post.author && (<figure class="avatar">
      <picture>
      {(post.author.image && <img loading="lazy" src={getSanityImageUrl(post.author.image).width(72).url()}>) || <img loading="lazy" src="https://api.lorem.space/image/face?hash=47449">}
      </picture>
      {post.author.name && <figcaption>{post.author.name}</figcaption>}
      </figure>)}
      -->
      
    </div>
  </div>
</header>}
<main id="content">
  {!post.imageHero && <img loading="lazy" src={getSanityImageUrl(post.mainImage).url()} />}
  <!--
  <aside>
    {!post.imageHero && post.author && (
      <figure class="avatar">
      <picture>
      {(post.author.image && <img loading="lazy" src={getSanityImageUrl(post.author.image).url()}>) || <img loading="lazy" src="https://api.lorem.space/image/face?hash=47449">}
      </picture>
      {post.author.name && <figcaption>{post.author.name}</figcaption>}
    </figure>)}
  </aside>
  -->
  <article>
    {!post.imageHero && <h1>{post.title}</h1>}
    <time>{formatBlogPostDate(post.publishedAt)}</time>
    <h4 class="py-6 mb-5">{post.excerpt}</h4>
    <SanityBlockContent blocks={post.body} />
  </article>
  <aside>
      {post.categories?.map(category => (
        <label tabindex="0"><a href={`/blog/category/${category.slug.current}`}>#{category.title}</a></label>
      ))}
  </aside>
  <aside>
    Share this article:
      <a href={`https://twitter.com/intent/tweet?text=${postUrl}`} rel="external noopener" target="_blank">Twitter</a>
      <a href={`https://www.facebook.com/sharer/sharer.php?u=${postUrl}`} rel="external noopener" target="_blank">Facebook</a>
      <!--<a href={`https://www.facebook.com/dialog/share?app_id=5064192827001864&display=popup&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer`} rel="external noopener" target="_blank">Facebook</a>-->
      <a href={`mailto:?subject=Check%20out%20this%20article%20from%20The%20Bladder%20Blog&body=${post.title}%0A%0A${post.excerpt}%0A%0A${postUrl}`} rel="external noopener" target="_blank">Email</a>
      <a href="/blog/rss.xml" rel="external noopener" target="_blank">RSS</a>
  </aside>

</main>

<style>
  header {
    @apply hero min-h-min;
  }
  @media (orientation: landscape) {
    header {
      @apply min-h-screen;
      /*margin-top: -4rem;*/
      /*padding-top: 4rem;*/
    }
  }
  main {
    @apply container mx-auto py-16;
    max-width: 1280px;
  }
  article {
    @apply bg-base-200 p-4;
    @apply mx-auto prose md:prose-lg lg:prose-xl prose-a:underline prose-a:decoration-dotted;
  }

  h1 {
    @apply mb-5 text-5xl font-bold;
    word-break: break-word;
  }
  aside {
    @apply mx-auto prose md:prose-lg lg:prose-xl prose-a:underline prose-a:decoration-dotted flex flex-row gap-4 justify-center;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    align-items: center;
    margin-block: 2rem;
  }
  .avatar {
    align-items: center;
  }
  picture {
    @apply shadow-2xl w-16 h-16 mask mask-squircle;
    margin-inline-end: 1rem;
  }
  figcaption {
    font-variant: small-caps;
  }
  aside img {
    margin: 0;
  }
  main > img {
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: 50vh;
    @apply rounded-lg shadow-2xl mx-auto my-8
  }
  time {
    font-size: smaller;
  }
</style>

