---
import { getSanityImageUrl, formatBlogPostDate } from '../utils/helpers.js'

export interface Props {
  post: any;
}

const { post } = Astro.props;
//console.log(post.author.name)

---

<article>
  <aside>
    <a href={`/blog/${post.slug.current}`}>
      {post.mainImage && <img loading="lazy" src={getSanityImageUrl(post.mainImage).width(720).url()}>
    </a>
    <div>
      <time>{formatBlogPostDate(post.publishedAt) || 'This post is older than 2 years'}</time>
      <h1 class="">{post.title}</h1>
      <!--
      {post.author && (<figure>
      <picture class="">
      {(post.author?.image && <img loading="lazy" src={getSanityImageUrl(post.author.image).width(72).url()}>) || <img loading="lazy" src="https://api.lorem.space/image/face?hash=47449">}
      </picture>
      {post.author?.name && <figcaption><name>{post.author.name}</name></figcaption>}
      </figure>)}
      -->
      <p class="py-6">{post.excerpt}</p>
      <a href={`/blog/${post.slug.current}`}>
        <button class="btn btn-sm btn-rounded btn-primary">Start reading</button>
      </a>
    </div>
  </aside>
</article>


<style>
  article {
    @apply hero mt-16 shadow-xl image-full;
    background-color: var(--dark-blue);
    min-height: 20vh;
  }
  aside {
    @apply flex-col hero-content lg:flex-row-reverse px-8;
    width: 100%;
    gap: 4rem;
    justify-content: space-between;
  }
  aside > a > img, aside > img {
    @apply max-w-sm rounded-lg shadow-2xl;
  }
  h1 {
    @apply text-2xl font-bold
  }
  figure {
    @apply avatar;
    align-items: center;
  }
  .avatar {
  }
  picture {
    margin-inline-end: 1rem;
    @apply shadow-2xl w-8 h-8 mask mask-squircle;
  }
  figcaption {
    font-variant: small-caps;
  }
  time {
    @apply h-8;
    display: block;
    font-size: smaller;
    font-variant: small-caps;
  }

.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
  color: var(--theme-text-lighter);
}


</style>
