---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPostPreview from '../../components/BlogPostPreview.astro';

import { client } from '../../lib/sanityClient.js';
import { allPosts } from '../../lib/api.js';

let title = 'The Bladder Blog';
let description = `Our company, Urosystem Ltd. is focused on spreading awareness of IC/BPS and encourages you to share our content with anyone who is affected by this disease. We hope you enjoy the read and find any helpful tips throughout this page! <br><br> Yours truly, UroSystem Team.`;
let permalink = 'https://www.urosystem.com/blog';
let mainImgUrl = '/assets/pixabay-ground-cherry-6993059.svg';

const allPostData = await client.fetch(allPosts);

---
<BaseLayout title={title} description={description} permalink={permalink} canonicalURL={Astro.request.canonicalURL.href}>
<header style={`background-image: url(${mainImgUrl})`}>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="text-center hero-content text-neutral-content flex-col">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{title}</h1>

      <p class="mb-5 text-xl">{description}</p>
    </div>
    <div class="card w-auto shadow-xl image-full">
      <form class="card-body" name="Blog_subscribe" method="POST" netlify>
        <h2 class="card-title">Subscribe to get monthly news</h2>
          <fieldset class="flex gap-4">
            <input id="email" type="email" required placeholder="Your Email" class="input input-bordered input-md flex-auto">
            <a href="#content"><button tabindex="0" class="btn btn-primary flex-none">Subscribe</button></a>
          </fieldset>
          <fieldset class="flex gap-4">
            <input id="consent" type="checkbox" required class="toggle toggle-sm" />
            <label for="consent">I agree to subscribe to the newsletter. See our <a>Privacy Policy</a></label>
          </fieldset>
      </form>
    </div>
  </div>
</header>
<main id="content">
  <section>
    {allPostData.map((post) => <BlogPostPreview post={post} />)}
    {allPostData.map((post) => <BlogPostPreview post={post} />)}
  </section>
</main>
</BaseLayout>

<style>
  header {
    @apply hero min-h-screen;
    margin-top: -4rem;
    /*padding-top: 4rem;*/
  }
  h1 {
    padding-top: 6rem;
  }
  main {
    @apply container mx-auto;
  }

  /*section {
    min-height: 50vh;
    height: 50vh;
  }*/

</style>